
Rekurencjon/obj/Debug/Rekurencjon.pdb
Rekurencjon/obj/Debug/Rekurencjon.exe
Rekurencjon/obj/Debug/Rekurencjon.csprojAssemblyReference.cache
Rekurencjon/obj/Debug/Rekurencjon.csproj.FileListAbsolute.txt
Rekurencjon/obj/Debug/Rekurencjon.csproj.CoreCompileInputs.cache
Rekurencjon/bin/Debug/Rekurencjon.pdb
Rekurencjon/bin/Debug/Rekurencjon.exe
.vs/Rekurencjon/v15/Server/sqlite3/storage.ide-wal
.vs/Rekurencjon/v15/Server/sqlite3/storage.ide-shm
.vs/Rekurencjon/v15/Server/sqlite3/storage.ide
.vs/Rekurencjon/v15/.suo
.vs/Rekurencjon/v15/.suo
.vs/Rekurencjon/v15/Server/sqlite3/storage.ide
.vs/Rekurencjon/v15/Server/sqlite3/storage.ide-shm
.vs/Rekurencjon/v15/Server/sqlite3/storage.ide-wal
Rekurencjon/bin/Debug/Rekurencjon.exe
Rekurencjon/bin/Debug/Rekurencjon.pdb
Rekurencjon/obj/Debug/Rekurencjon.csproj.CoreCompileInputs.cache
Rekurencjon/obj/Debug/Rekurencjon.csproj.FileListAbsolute.txt
Rekurencjon/obj/Debug/Rekurencjon.csprojAssemblyReference.cache
Rekurencjon/obj/Debug/Rekurencjon.exe
Rekurencjon/obj/Debug/Rekurencjon.pdb
.vs/Rekurencjon/v15/.suo
.vs/Rekurencjon/v15/Server/sqlite3/storage.ide-shm
Rekurencjon/obj/Debug/Rekurencjon.csproj.CoreCompileInputs.cache
Rekurencjon/obj/Debug/Rekurencjon.csprojAssemblyReference.cache
.vs/Rekurencjon/v15/Server/sqlite3/storage.ide-wal
.vs/Rekurencjon/v15/.suo
